<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Document</title>
</head>
<body>
    <h1>We'll be right back</h1>
    <p>
        The site is being currently update
    </p>
</body>
</html>