<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>You can view some of my projects <a href="">here</a>.</p>
        {{> footer}}
    </body>
</html>